{% extends "base.html" %}
{% block title %}PySkat - Players{% endblock %}
{% block head %}{% endblock %}

{% macro player_display(id) %}
    <td>{{ id }}</td>
    <td>{{ players[id].name }}</td>
    <td>{% if id in results %}<i class="bi-check-circle text-success"></i>{% else %}
        <i class="bi-x-circle text-danger"></i>{% endif %}</td>
{% endmacro %}

{% block content %}
    <h1>Tables</h1>

    <div class="mt-5">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Player ID</th>
                <th>Player Name</th>
                <th>Result Present?</th>
                <th>Remarks</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for t in tables %}
                {% set player_count = t.player_ids|length %}
                <tr>
                    <td rowspan="{{ player_count }}">{{ t.table_id }}</td>
                    {{ player_display(t.player1_id) }}
                    <td rowspan="{{ player_count }}">{{ t.remarks }}</td>
                    <td rowspan="{{ player_count }}">
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#modal-update-table-{{- t.table_id -}}">Edit
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-remove-table-{{- t.table_id -}}">Remove
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>{{ player_display(t.player2_id) }}</tr>
                <tr>{{ player_display(t.player3_id) }}</tr>
                {% if t.player4_id %}
                    <tr>{{ player_display(t.player4_id) }}</tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        {% for t in tables %}
            <div class="modal fade" id="modal-update-table-{{- t.table_id -}}" tabindex="-1"
                 aria-labelledby="modal-update-table-{{- t.table_id -}}-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal-update-table-{{- t.table_id -}}">Edit Player</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form-update-table-{{- t.table_id -}}" method="post"
                                  action="{{ url_for("tables.update", series_id=series.id, table_id=t.table_id) }}">
                                {% macro player_select(player_id) %}
                                    {% set input_id = "player{}_id".format(player_id) %}
                                    <div class="mb-3">
                                        <label for="{{ input_id }}" class="form-label">Player #{{ player_id }}</label>
                                        <select id="{{ input_id }}" name="{{ input_id }}" class="form-select">
                                            {% if player_id == 4 %}<option value="0" {% if t[input_id] == 0 %}selected{% endif %}>-- None --</option>{% endif %}
                                            {% for p in players.values() %}
                                                <option value="{{ p.id }}" {% if t[input_id] == p.id %}selected{% endif %}>{{ p.name }} ({{ p.id }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endmacro %}
                                {{ player_select(1) }}
                                {{ player_select(2) }}
                                {{ player_select(3) }}
                                {{ player_select(4) }}
                                <div>
                                    <label for="remarks" class="form-label">Remarks</label>
                                    <input id="remarks" name="remarks" type="text" value="{{- t.remarks -}}"
                                           class="form-control"/>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" form="form-update-table-{{- t.table_id -}}" class="btn btn-warning"
                                   value="Edit"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-remove-table-{{- t.table_id -}}" tabindex="-1"
                 aria-labelledby="modal-remove-table-{{- t.table_id -}}-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal-remove-table-{{- t.table_id -}}">Remove Player</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Really remove the table <strong>{{- t.name -}}</strong> with the ID
                            <strong>{{- t.table_id -}}</strong>?
                            <form id="form-remove-table-{{- t.table_id -}}" method="post"
                                  action="{{ url_for("tables.remove", series_id=series.id, table_id=t.table_id) }}"></form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" form="form-remove-table-{{- t.table_id -}}" class="btn btn-danger"
                                   value="Remove"/>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}